<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body class="container">
    <header>
      <%- include ('../partials/header') %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 style="margin-bottom: 1rem;">This is great 🎉</h1>
        <p>
          A complete Node ESJ boilerplate setup with jest, webpack, sass, eslint, prettier,
          pre-configured.
        </p>
        <p>Checkout the console log for angry T Rex.</p>
      </div>
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
